body {
    background-image: url("../img/grey-and-white-clipart-designs-8.jpg");
}
main {
    display: none;
}

.card {
    max-width: 600px;
    margin: auto;
    height: 52px;
}

img {
    width: 100%;
}

.text__body {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 15px;
    text-shadow: 2px 2px 5px grey;
}


#one {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
    width: auto;
    transform: rotate(180deg);
    z-index: -10;
}

#two {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 300px;
    width: auto;
    z-index: -12;
}

#three {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -9;
    height: 200px;
    width: auto;
    transform: rotateX(180deg);
}

.cover {
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
    padding: 0px;
    font-size: 40px;
    color: rgb(255, 125, 147);
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.cover>img {
    box-shadow: 8px 8px 15px grey;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=button] {
    padding: 10px;
    background-color: rgb(255, 231, 235);
    color: rgb(255, 123, 123);
    border: 1px solid rgb(255, 175, 175);
    border-radius: 10px;
    cursor: pointer;
}
span {
    color: red;
}
@media screen and (max-width: 400px) {
    .cover {
        font-size: 18px;
        line-height: 35px;
    }
    input[type=button] {
        padding: 5px;
    }
    .text__body {
        position: absolute;
        top: 80px;
        left: 50%;
        line-height: 14px;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
    .cover {
        font-size: 22px;
        line-height: 40px;
    }
    input[type=button] {
        padding: 6px;
    }
    .text__body {
        position: absolute;
        top: 105px;
        left: 50%;
        width: 230px;
        font-size: 18px;
        line-height: 17px;
    }
}

@media screen and (min-width: 501px) and (max-width: 550px) {
    .cover {
        font-size: 28px;
        line-height: 50px;
    }
    .text__body {
        position: absolute;
        top: 120px;
        left: 50%;
        width: 280px;
        font-size: 20px;
        line-height: 22px;
    }
}
@media screen and (min-width: 551px) and (max-width: 750px) {
    .text__body {
        position: absolute;
        top: 150px;
        left: 50%;
        width: 280px;
        font-size: 22px;
        line-height: 23px;
    }
}
@media screen and (min-width: 751px) and (max-width: 849px) {
    .text__body {
        position: absolute;
        top: 200px;
        left: 50%;
        width: 340px;
        margin: auto;
        font-size: 28px;
        line-height: 24px;
    }
}

@media screen and (min-width: 850px) and (max-width: 999px) {
    .text__body {
        position: absolute;
        top: 200px;
        left: 50%;
        width: 340px;
        margin: auto;
        font-size: 28px;
        line-height: 24px;
    }

}

@media screen and (min-width: 1000px) {
    .text__body {
        position: absolute;
        top: 200px;
        left: 50%;
        width: 340px;
        margin: auto;
        font-size: 28px;
        line-height: 24px;
    }
}